{
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true,
    "browser": true
  },
  "rules": {
    "no-unused-expressions": "off",
    "react/jsx-filename-extension": "off",
    "import/no-named-as-default": "off"
  }
}